.footer {
  padding: 6px 12px;
  font-size: 0.75rem;
  background: #f8f8f8;
  color: #555;
  border-top: 1px solid #ddd;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-links a {
    margin-left: 10px;
    display: inline-block;

    img {
      width: 20px;
      height: 20px;
      filter: grayscale(100%);
      transition: filter 0.3s;
    }

    img:hover {
      filter: grayscale(0%);
    }
  }
}
